[include]
    path = ~/.gitconfig.local

[includeIf "gitdir:~/Projects/happyreturns/"]
    path = ~/Projects/happyreturns/.gitconfig

[alias]
co = checkout
st = status
df = diff
dc = diff --cached
pr = pull --rebase
pop = stash pop
prb = pull -r
prbm = pull --rebase origin master
ls = log --stat
cm = "!f() { git commit -m \"$1\"; }; f"
r1 = reset HEAD~

[credential]
helper = store

[commit]
gpgsign = true

[gpg]
program = gpg

[core]
excludesfile = /Users/goalves/.gitignore
editor = vim
whitespace = space-before-tab,-indent-with-non-tab,trailing-space
trustctime = false
pager = delta

[diff "bin"]
textconv = hexdump -v -C

[color "status"]
changed = yellow

[color]
status = auto
branch = auto
log = auto
commit = auto
diff = auto
interactive = auto
ui = true
pager = true

[apply]
whitespace = fix

[interactive]
diffFilter = delta --color-only

[delta]
navigate = true  # use n and N to move between diff sections
dark = true      # or light = true, or omit for auto-detection

[merge]
conflictstyle = zdiff3

[init]
defaultBranch = main

[url "https://github"]
insteadOf = ssh://github

[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
