[include]
  path = ~/.gitconfig.local

[alias]
co = checkout
st = status
df = diff
dc = diff --cached
pr = pull --rebase
pop = stash pop
prb = pull -r
prbm = pull --rebase origin master
ls = log --stat
cm = "!f() { git commit -m \"$1\"; }; f"
r1 = reset HEAD~

[credential]
helper = store

[commit]
gpgsign = true

[gpg]
program = gpg

[core]
excludesfile = /home/goalves/.gitignore
editor = vim
whitespace = space-before-tab,-indent-with-non-tab,trailing-space
trustctime = false

[diff "bin"]
textconv = hexdump -v -C

[color "status"]
changed = yellow

[color]
status = auto
branch = auto
log = auto
commit = auto
diff = auto
interactive = auto
ui = true
pager = true

[apply]
whitespace = fix

[init]
defaultBranch = main
